<!DOCTYPE html>
<html>
<head>
    <title>Choose Worker</title>
</head>
<body>
    <h2>Choose a worker for the job "{{ order.title }}"</h2>
    <form method="post">
        {% csrf_token %}
        <select name="worker">
            {% for worker in workers %}
            <option value="{{ worker.user.id }}">{{ worker.user.username }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Choose</button>
    </form>
</body>
</html>
