<!DOCTYPE html>
<html>
<head>
    <title>Register Choice</title>
</head>
<body>
    <h2>Choose your role:</h2>
    <form method="post">
        {% csrf_token %}
        <input type="radio" name="role" value="employer"> Employer<br>
        <input type="radio" name="role" value="worker"> Worker<br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
