<!DOCTYPE html>
<html>
<head>
    <title>Register as Worker</title>
</head>
<body>
    <h2>Register as Worker</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>
